.schedule__inner {
  background-color: #a1a04e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0;
}

.schedule__icon {
  margin-top: 50px;
  width: 200px;
}

.schedule__title {
  margin-top: 50px;
  font-family: BPH, serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.schedule__list {
  margin: 0;
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.schedule__item {
  margin-top: 10px;
  font-family: G, serif;
  text-transform: uppercase;
}